[Desktop Entry]
Name=Lotusgram
Comment=Независимая платформа для общения
TryExec=Telegram
Exec=Telegram -- %U
Icon=org.lotusgram.desktop
Terminal=false
StartupWMClass=LotusgramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=Telegram -quit
Name=Quit Lotusgram
Icon=application-exit
